* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.90);
}

button {
  font-size: 1.5rem;
  text-decoration-color: #cdd6f4;
  color: #cdd6f4;
  background-color: #181825;
  border-color: #7f849c;
  border-radius: 2rem;
  border-width: 2px;
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  margin: 5px;
}

button:focus, button:active, button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: rgb(48, 50, 66);
  border-color: #b4befe;
  outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
