@import "colorscheme.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 5px;
  border: 2px solid @overlay1;
}

#workspaces button {
  color: @overlay1;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#cpu,
#memory,
#window,
#custom-power {
  background-color: @surface0;
  padding: 0.1rem 1rem;
  margin: 5px 0;
  border: 2px solid @overlay1;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  border-left: 0px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
  border-right: 0px;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#window {
  color: @text;
  border-radius: 1rem 1rem 1rem 1rem;
}

window#waybar.empty #window {
  background-color: transparent;
  border: 0px;
}

#cpu {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
  border-right: 0px;
}

#memory {
  color: @yellow;
  border-radius: 0px 1rem 1rem 0px;
  border-left: 0px;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
  border-right: 0px;
}

#custom-power {
  margin-right: 5px;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  border-left: 0px;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
