@import "colorscheme.css";

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  min-height: 0;
}

tooltip {
  border: 0;
  border-radius: 2rem;
  background: @surface0;
  box-shadow: 0px 0px 3px 0px rgba(26,26,26,0.3);
}

#waybar {
  background-color: @base;
  box-shadow: 0px 2px 4px 0px rgba(26,26,26,0.3);
}

#workspaces button {
  color: @overlay1;
  background: transparent;
  border: none;
  padding: 0.5rem;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button:hover {
  background: transparent;
  border: none;
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-wg,
#custom-lock,
#cpu,
#memory,
#window,
#language,
#custom-power {
  color: @text;
  padding: 0.5rem 1rem;
}

#clock {
  color: @lavender;
}

#battery {
  color: @text;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#cpu,
#memory,
#custom-wg,
#pulseaudio,
#backlight,
#battery,
#language {
  padding: 0.5rem 0.6rem;
}

#custom-separator {
  padding: 0;
}

#custom-music {
  color: @subtext1;
}

#custom-power {
  color: @red;
}

window#waybar.empty #window {
  opacity: 0;
}

menu {
  background: @base;
  color: @subtext0;
}

menuitem {
  border-radius: 2rem;
}
