@import "colorscheme.css";

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 17px;
  min-height: 0;
}

tooltip {
  border: 0;
  border-radius: 2rem;
  background: @surface0;
  box-shadow: 0px 0px 3px 0px rgba(26,26,26,0.3);
}

#waybar {
  background-color: transparent;
}

#waybar > box {
  background-color: transparent;
}

#workspaces {
  border-radius: 2rem;
  background: @base;
  box-shadow: 0px 0px 3px 0px rgba(26,26,26,0.3);
  margin: 8px;
}

#workspaces button {
  color: @overlay1;
  border-radius: 2rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @lavender;
  border-radius: 2rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 2rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#cpu,
#memory,
#window,
#language,
#custom-power {
  background: @base;
  box-shadow: 0px 0px 3px 0px rgba(26,26,26,0.3);
  padding: 0.1rem 1rem;
  margin: 8px;
}

#clock {
  color: @blue;
  border-radius: 2rem;
  margin-right: 1rem;
}

#battery {
  color: @text;
  margin-left: 0px;
  margin-right: 0px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  margin-left: 0px;
  margin-right: 0px;
}

#backlight, #battery {
  border-radius: 0;
  border-right: 0px;
  border-left: 0px;
}

#pulseaudio {
  color: @maroon;
  border-radius: 2rem 0px 0px 2rem;
  margin-left: 1rem;
  border-right: 0px;
  margin-right: 0px;
}

#language {
  border-radius: 0px 2rem 2rem 0px;
  border-right: 0px;
  border-left: 0px;
  padding: 0.1rem 0.5rem;
  margin-left: 0px;
}

#custom-music {
  color: @mauve;
  border-radius: 2rem;
}

#window {
  color: @text;
  border-radius: 2rem;
  margin-left: 1rem;
}

window#waybar.empty #window {
  background-color: transparent;
  box-shadow: none;
}

#cpu {
  color: @mauve;
  border-radius: 2rem 0px 0px 2rem;
  border-right: 0px;
  margin-right: 0px;
}

#memory {
  color: @yellow;
  border-radius: 0px 2rem 2rem 0px;
  border-left: 0px;
  margin-right: 5px;
  margin-left: 0px;
}

#custom-lock {
  border-radius: 2rem 0px 0px 2rem;
  color: @lavender;
  margin-right: 0px;
}

#custom-power {
  border-radius: 0px 2rem 2rem 0px;
  color: @red;
  margin-left: 0px;
}

#tray {
  margin-right: 1rem;
  border-radius: 2rem;
}
